* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffdd67;
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
}

.hero-img {    
    background: url(../img/friki.jpg) center / cover;
    position: absolute;
    top: 0;
    width: 100%;
    height: 38%;
    opacity: 1;
}

.hero-img::before {
    content: '';
    background: #003f5c;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}

 h1 {
     position: relative;
     font-size: 5rem;
     color: #fff;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100%;
 } 

 .header-buttons {
     padding: 1rem 0;
     text-align: center;
     position: absolute;
     right: 0;
     left: 0;
     top: 70%;
 }

 .btn-pink {
     background-color: #ffdd67;
     color: #003f5c;
     box-shadow: 0 4px #e0be43;
 }

 .btn {
     display: inline-block;
     cursor: pointer;
     font-weight: 600;
     border-radius: 2px;
     transition: none;
     padding: 0.75rem 1.5rem;
     margin: 0.30rem;
     position: relative;
 }

 .btn-pink:hover {
     top:2px;
     box-shadow:0 2px #ffdd67
}

.btn-pink:active {
    box-shadow:0 0 #e0be43;
    top:4px
}
 

.container {
    position: absolute;
    width: 210px;
    height: 200px;
    transform: scale(.7);
    /* background-color: cyan; */
    cursor: pointer;
    /* ----- ----- Flexbox ----- ----- */
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

.hamburger {
    height: 12%;
    background-color: #000;
    width: 100%;    
}

.hamburger::after,
.hamburger::before,
.hamburger {
    transition: 1s;
    position: absolute;
    width: 100%;
    content: '';
    background-color: #003f5c;
    border-radius: 50px;
    transition:  all .5s ease-in-out;
}

.hamburger::after {
    height: 100%;
    top: -50px;
    /* border-radius: 50px 50px 0 0;  */
}

.hamburger::before {
    height: 100%;
    top: 50px;
    /* border-radius: 0 0 50px 50px;  */
}

/* ----- ----- Animation ----- ----- */
.active .hamburger {
    transform: rotateZ(45deg);
    border-radius: 50px;
    /* background: transparent; */
}

.active .hamburger::after {
    top: 0;
    transform: rotateZ(90deg);
    border-radius: 50px;
}

.active .hamburger::before {
    top: 0px;
    transform: rotateZ(0deg);
    border-radius: 50px;
}

/* ----- ----- SOcial Media Footer ----- ----- */
.social-media {
    position: absolute;
    bottom: 5rem;
    font-family: inherit;    
    color: #003f5c;
    font-size: .8rem;
    text-align: center;
}

.social-columns {
    display: flex;
    justify-content: center;
    padding-bottom: .625rem;
    width: 100%;
}

.social-columns .column {
    padding: .4rem;
}

.social-media a {
    text-decoration: none;
    color: #003f5c;
}

.social-media a:hover {
    text-decoration: underline;
}
